body{
    display: grid;
    grid-template-areas: "nav nav nav nav"
                         "banner banner banner banner"
                         "main main main main"
                         "section section section section"
                         "aside aside aside aside"
                         "footer footer footer footer";

    grid-template-rows: 2vh 75vh 40vh 50vh 50vh 10vh;
    grid-template-columns: 24.9vw 24.8vw 24.5vw 24.6vw;
    margin: 0;

}
.cor{
    color: #2eb563; 
}

.esquerdo{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    background-color: lightgray;
    grid-area: footer;
    margin-bottom: 0;
    margin: 0;

}
footer ul{
    margin: auto;
    padding-top: 25px;
    display: flex;
    list-style-type: none;
}

footer div{
    display: flex;
    align-items: center;
}

.fundo{
    background-color: rgba(0, 0, 0, 0.274); 
    display: flex;
    padding: 10px;
    border-radius: 100%;
}

.fundo:hover{
    background-color: #2dcc70;
}

li{
    margin-right: 20px;   
}
li a{
    font-size: 10pt;
    text-decoration: none;
    color: grey;
    font-family: 'Roboto', sans-serif;
}

.hand{
    display: flex;
    align-items: left;
    justify-content: center;
    height: 65vh;
    position: relative; 
    top: 10vh;
    left: 6vw;
}

header{
    grid-area: banner;
    background-image: url("../img/banner.png");
    height: 100vw
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

header div h1{
    height: 50px;
    position: relative;
    bottom: 14vh;
    left: 43vh;
    font-family: 'Pacifico', cursive;
    font-size: 45pt;
    font-style: initial;
    color: #fffff5;
}

header div p{
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: #fffff5;
    position: relative;
    left: 7vw;
    top: 2.5vw;
    margin-top: 0;
}

.icons{
    display: flex;
    align-items: center;
    position: relative;
    top: 14vh;
    justify-content: space-evenly;
    left: -36vh;
    padding: 10px;
    width: 300px;
}

nav{
    grid-area: nav;
    background-color: #2eb563;
}


main{
    align-items: center;
    display: flex;
    grid-area: main;
    justify-content: space-around;
    text-align: center;
    margin: 0 70px 0 70px;
} 
main div{
    align-items: center;
    display: flex;
    flex-direction: column;
    width:300px;
}
main div h3{
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    margin: 10px 0 0 0;
}
main div p{
    color: gray;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
}
main div span{
    background-color: #2dcc70;
    border-radius: 100%;
    height: 80px;
    width: 80px;
}
main div span img{
    padding: 16px;
}

section{
    grid-area: section;
    background-color: #e3e3e3;
    display: flex;
}
.email p{
    color: rgb(126, 125, 125);
    margin-right: 30px;
    font-size: 12pt;
}  
input{
    border-top-left-radius: 4%;
    border-bottom-left-radius: 11%;
    display: flex;
    width: 190px;
    height: 31px;
    font-size: 10pt;
}
.email{
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16%;
    padding-right: 13%;
    padding-bottom: 3%;
}

#video{
    padding: 40px;
    height: 167px;
}
.cadastro{
    display: flex;
}
.cadastro button{
    display: flex;
    justify-items: center;
    color: white;
    background-color: rgb(83, 198, 94);
    border-left: 5px solid rgb(83, 198, 94);
    width: 80px;
    border-bottom-right-radius: 14%;
    border-top-right-radius: 10%;
}

aside{
    font-family:'Roboto', sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: aside;
}
aside h5{
    font-size: 12pt;
    margin: 1.5vh 0 1.5vh 0;  
}
aside h2{
    font-size: 12pt;
    margin: 3vh 0 0.7vh 0;
}
aside div{
    display: flex;
}
aside div span{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
}
aside div span a{
    display: flex;
    justify-content: center;
}
aside div span a img{
    align-items: center;
    width: 30px;
    height: 30px;
}
aside p{
    color:#a6a6a6;
    margin: 1vh 0 2vh 0;   
}
aside p:nth-child(1){
    font-style: italic;
    text-align: center;
    margin: 2vh 10vw 0 10vw;  
}


//----------------------------


@media(max-width:1024px) /*LABTOP 1024PX*/{
    body{
        grid-template-columns: 28vw 28vw 28vw 28vw;
        grid-template-rows: 78vh 45vh 60vh 50vh 17vh;
    }
    button{ 
        width:90px;
    }
    input{ 
        width: 220px; 
    }
    #mao{
        height: 340px;
    }

}
@media(max-width:768px) /* TABLET 768PX */{
    aside p{
        margin: 5vh 0 2vh 0;  
    }
    body{
        grid-template-columns: 28vw 28vw 28vw 28vw;
        grid-template-rows: 2vh 45vh 60vh 60vh 60vh 10vh;
    }
    button{ 
        width:100px;
    }
    iframe{
        width: 300px;
        height: 220px;
    }
    input{ 
        width: 200px; 
    } 
    #mao{
        height: 320px;
    }
}

@media(max-width:425px) /* MOBILE L 425PX */{
    aside{
        display: flex;
        justify-content: center;
    }
    aside p{
        font-size: 18pt;
        margin: 3vh 0 2vh 0;
    }  
    aside h5{
        font-size: 20pt;
    }
    aside h2{
        font-size: 25pt;
    }
    body{
        grid-template-columns: 50vw 50vw 50vw 45vw;
        grid-template-rows: 2vh 80vh 40vh 40vh 40vh 5vh;
    }
    button{
        width:120px;
        margin: 0;
    }
    #mao{
        width:0;
    }
    footer div a{
        font-size: 17pt;
    }
    header{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 10px 0 10px;
    }
    header div{
        width: 450px;
    }
    header div h3{
        font-size: 22pt;
    }
    header div p{
        font-size: 17pt;
    }
    iframe{
        width: 440px;
        height: 250px;
    }
    input{
        width: 350px;
    }
    nav div h1{
        font-size: 35pt;
    }
    nav div p{
        font-size: 25pt;
    }
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    section div:nth-child(1) {
        margin-left: 35vw;
        margin-right: 35vw;
        text-align: justify;
    }
    section div:nth-child(2) {
        margin: 7vh 10vw 7vh 10vw;
    }
    section div h3{
        font-size: 25pt;
        margin: 2vh 0;
    }
    section div p{
        font-size: 15pt;
        margin: 2vh 0;
    }
}
@media(max-width:375px) /* MOBILE M 375PX */{
    aside{
        display: flex;
        justify-content: center;
    }
    aside p{
        font-size: 18pt;
        margin: 3vh 0 2vh 0;   
    }
    aside h5{
        font-size: 20pt;
    }
    aside h2{
        font-size: 25pt;
    }
    body{
        grid-template-columns: 52vw 52vw 55vw 55vw;
        grid-template-rows: 78vh 180vh 120vh 90vh 17vh;
    }
    #mao{
        width:0;
    }
    footer div a{
        font-size: 17pt;
    }
    header{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 10px 0 10px;
    }
    header div{
        width: 450px;
    }
    header div h3{
        font-size: 22pt;
    }
    header div p{
        font-size: 17pt;
    }
    nav div h1{
        font-size: 35pt;
    }
    nav div p{
        font-size: 25pt;
    }
    section{
        display: flex;
        justify-content: center;
    }
    section div h3{
        font-size: 25pt;
        margin: 2vh 0;
    }
    section div p{
        font-size: 15pt;
        margin: 2vh 0;
    }
}

@media(max-width:320px) /* MOBILE S 320PX */{
    aside{
        display: flex;
        justify-content: center;
    }
    aside p{
        font-size: 18pt;
    }
    aside h5{
        font-size: 20pt;
    }
    aside h2{
        font-size: 25pt;
    }
    body{
        grid-template-columns: 65vw 65vw 60vw 60vw;
        grid-template-rows: 5vh 60vh 60vh 120vh 100vh 15vh;
    }
    #mao{
        width:0;
    }
    footer div a{
        font-size: 17pt;
    }
    header{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 10px 0 10px;
    }
    header div{
        width: 400px;
    }
    header div h3{
        font-size: 22pt;
    }
    header div p{
        font-size: 17pt;
    }
    nav div h1{
        font-size: 35pt;
    }
    nav div p{
        font-size: 25pt;
    }
    section{
        display: flex;
        justify-content: center;
    }
    section div h3{
        font-size: 25pt;
        margin: 2vh 0;
    }
    section div p{
        font-size: 15pt;
        margin: 2vh 0;
    }
}
