body{
    display: grid;
    grid-template-areas: "nav nav nav"
                         "banner banner banner"
                         "main main main"
                         "section section section"
                         "div div div"
                         "footer footer footer";

    grid-template-rows: 6px 300px 150px 180px 180px 80px;
    margin: 0;

}

nav{
    grid-area: nav;
    background-color: #2eb563;
}